*{
    padding: 0;
    margin: 0;
}

header{
    background-color: mediumvioletred;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    width: 96%;
    height: 50px;
    align-items: center;
}

header .logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

header .logo img{
   width: 20px;
   height: 20px;
}